<!DOCTYPE html>
<html class="no-js">
	
	<head>
		<title>Editar Product</title>
		<%- include('../includes/links-np-css.ejs'); %>

		<script src='/admin/utilsProduct.js'>
			
		</script>
	</head>
	
	<body>
		<%- include('../includes/top.ejs'); %>
		
		<div class="container-fluid">

			<div class="row-fluid">

				<%- include('../includes/left-column.ejs'); %>  

				<!-- Content -->
				<div class="span9" id="content">
				   
					<div class="row-fluid">
						
					<div class="span12">
					<div class="block-content collapse in">

						<% if(msg){ %>
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Sucesso!</strong>
							<%=msg%>
						</div>
						<% } %>

						<form class="form-horizontal" 
						id='form'
						action="/edit_product" 
						method="POST"
						enctype="multipart/form-data">

							<input type="hidden" name="productId" value="<%=product.id%>">

							<fieldset>

							<legend>Editar Product</legend>

							<div class="control-group">
								<label class="control-label" for="title">Nome</label>
								<div class="controls">
								<input class="input-xlarge focused" name="name" type="text"
								id="name" value="<%=product.name%>">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="name">Descrição</label>
								<div class="controls">
									<textarea rows="5" cols="10"
									class="input-xlarge" name="description" 
									id="description">
									<%=product.description%>
									</textarea>
							</div>

							<div class="control-group">
								<label class="control-label" for="category">Categoria</label>
								<div class="controls">
								<select class="input-xlarge" name="category">
									<% for(category of Object.values(allCategories)) { %>
									<option value="<%=category.id%>"><%=category.name%></option>
									<% } %>
								</select>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="name">Preço R$</label>
								<div class="controls">
								<input class="input-xlarge" name="price" type="text"
								id="price">
								</div>
							</div>
							
							<% if(product.image === 'null'){ %>
							<div class="control-group">
								<label class="control-label" for="image">Imagem</label>
								<div class="controls">
								<input class="input-xlarge" name="image" type="file">
								</div>
							</div>
							<% } else { %>
							<div class="control-group">
								<label class="control-label">Imagem</label>
								<div class="controls">
								<img src="upload/<%=product.image %>" width="240px;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="image">Substituir Imagem</label>
								<div class="controls">
								<input class="input-xlarge" name="image" type="file">
								</div>
							</div>
							<% } %>
							
							
							
							<div class="control-group">
								<div class="controls"  id='messages'></div>
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-primary"
								onClick='validateNewProduct();'>Editar</button>
								<a class="btn btn-primary" href="/delete_product?productId=<%=product.id%>">
									Deletar
								</a>
							</div>

							</fieldset>
						</form>

					</div>
					
					</div>
						
					</div>

				</div>
				<!-- End Content -->

			</div>

			<hr>

			<%- include('../includes/footer.ejs'); %>

		</div>
		<!--/.fluid-container-->
		<%- include('../includes/scripts-np-bottom.ejs'); %>
	</body>

</html>