<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Admin Home Page</title>
        <%- include('includes/links-css.ejs'); %>
    </head>
    
    <body>
        <%- include('includes/top.ejs'); %>
        
        <div class="container-fluid">

            <div class="row-fluid">

                <%- include('includes/left-column.ejs'); %>  

                <!-- Content -->
                <div class="span9" id="content">
                   
                    <div class="row-fluid">
                        <div class='block'>
                            First row-fluid
                        </div>
                    </div>
                        
                    <div class="row-fluid">

                        <div class="block">
                            TEST 1
                        </div>
                        
                        <div class="block">
                            TEST 2
                        </div>
                        
                    </div>
                    
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="block">
                                TEST 3
                            </div>
                        </div>
                        <div class="span6">
                            <div class="block">
                                TEST 4
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- End Content -->

            </div>

            <hr>

            <%- include('includes/footer.ejs'); %>

        </div>
        <!--/.fluid-container-->
        <%- include('includes/scripts-bottom.ejs'); %>
    </body>

</html>