<% if(quantity > 0) {%>
<a href="#" class="dropdown-toggle" data-toggle="dropdown"
  title="Nova mensagem">
  <i class="fa fa-envelope-o"></i>
  <span class="label label-success"><%=quantity%></span>
</a>

<ul class="dropdown-menu">

  <li class="header"><%=quantity%> mensagem(ns) não lida(s)</li>

  <li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
    <% for(let message of messages) {%>
      <li>
        <a href="/message_detail?messageId=<%=message.id%>">
          <i class="fa fa-envelope-o text-red"></i>
          <%=fixDate(message.messageDate)%> - <%=fixHour(message.messageDate)%>
        </a>
      </li>
    <% } %>
    </ul>
  </li>
  <li class="footer"><a href="/unreaded_messages">Ver todos</a></li>
</ul>
<% } %>
