<!DOCTYPE html>
<html class="no-js">
	
	<head>
		<title>Editar Post</title>
		<%- include('../includes/links-np-css.ejs'); %>

		<script src='/admin/utils.js'>
			
		</script>
	</head>
	
	<body>
		<%- include('../includes/top.ejs'); %>
		
		<div class="container-fluid">

			<div class="row-fluid">

				<%- include('../includes/left-column.ejs'); %>  

				<!-- Content -->
				<div class="span9" id="content">
				   
					<div class="row-fluid">
						
					<div class="span12">
					<div class="block-content collapse in">

						<% if(msg){ %>
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Sucesso!</strong>
							<%=msg%>
						</div>
						<% } %>

						<form class="form-horizontal" 
						id='form'
						action="/edit_post" 
						method="POST"
						enctype="multipart/form-data">

							<input type="hidden" name="idPost" value="<%=post.id%>">

							<fieldset>

							<legend>Editar Post</legend>

							<div class="control-group">
								<label class="control-label" for="title">Título</label>
								<div class="controls">
								<input class="input-xlarge focused" name="title" type="text"
								id="title" value="<%=post.title%>">
								</div>
							</div>
							
							<% if(post.image === 'null'){ %>
							<div class="control-group">
								<label class="control-label" for="image">Imagem</label>
								<div class="controls">
								<input class="input-xlarge" name="image" type="file">
								</div>
							</div>
							<% } else { %>
							<div class="control-group">
								<label class="control-label">Imagem</label>
								<div class="controls">
								<img src="upload/<%=post.image %>" width="240px;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="image">Substituir Imagem</label>
								<div class="controls">
								<input class="input-xlarge" name="image" type="file">
								</div>
							</div>
							<% } %>
							
							<!-- tex editor -->
							<div class="control-group">
								<label class="control-label" for="text">Texto</label>
								<div class="controls">
								
								<div class="block">
										<div class="navbar navbar-inner block-header">
												<div class="muted pull-left">Editor</div>
										</div>
										<div class="block-content collapse in">
												<textarea id="ckeditor_full"
												name="text"><%=post.text%></textarea>
										</div>
								</div>

								</div>
							</div>
							<!-- end tex editor -->
							
							<div class="control-group">
								<div class="controls"  id='messages'></div>
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-primary"
								onClick='validateNewPost();'>Editar</button>
							</div>

							</fieldset>
						</form>

					</div>
					
					</div>
						
					</div>

				</div>
				<!-- End Content -->

			</div>

			<hr>

			<%- include('../includes/footer.ejs'); %>

		</div>
		<!--/.fluid-container-->
		<%- include('../includes/scripts-np-bottom.ejs'); %>
	</body>

</html>