<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Novo Post</title>
        <%- include('../includes/links-css.ejs'); %>
    </head>
    
    <body>
        <%- include('../includes/top.ejs'); %>
        
        <div class="container-fluid">

            <div class="row-fluid">

                <%- include('../includes/left-column.ejs'); %>  

                <!-- Content -->
                <div class="span9" id="content">
                   
                    <div class="row-fluid">
                        
                    <div class="span12">
                    <div class="block-content collapse in">

                        <form class="form-horizontal" 
                        id='form'
                        @submit="checkForm"
                        action="/new_post" 
                        method="POST"
                        enctype="multipart/form-data">

                        <p v-if="errors.length" class="alert alert-danger">
                            <b>Corriga o(s) seguintes erro(s):</b>
                            <ul>
                            <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>

                            <fieldset>

                            <legend>Novo Post</legend>
                            <div class="control-group">
                                <label class="control-label" for="title">Título</label>
                                <div class="controls">
                                <input class="input-xlarge focused" name="title" type="text"
                                v-model='title'>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="text">Texto</label>
                                <div class="controls">
                                
                                <textarea rows="10"
                                class="input-xlarge" name="text" v-model='text'>
                                </textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="image">Imagem</label>
                                <div class="controls">
                                <input class="input-xlarge" name="image" type="file">
                                </div>
                            </div>
                            
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>

                            </fieldset>
                        </form>

                    </div>
                    
                    </div>
                        
                    </div>

                </div>
                <!-- End Content -->

                <!-- development version, includes helpful console warnings -->
                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

                <script>
                    const app = new Vue({
                        el: '#form',
                        data: {
                            errors: [],
                            title: null,
                            text: null,
                        },
                        methods: {
                            checkForm: function(e) {
                                if(this.title && this.text) {
                                    return true;
                                }

                                this.errors = [];

                                if(!this.title) {
                                    this.errors.push("Por favor, preencha o campo Título");
                                }

                                if(!this.text) {
                                    this.errors.push("Por favor, preencha o campo Texto");
                                }
                                
                                e.preventDefault();
                            }
                        }
                    });
                </script>

            </div>

            <hr>

            <%- include('../includes/footer.ejs'); %>

        </div>
        <!--/.fluid-container-->
        <%- include('../includes/scripts-bottom.ejs'); %>
    </body>

</html>