<!DOCTYPE html>
<html class="no-js">
	
	<head>
		<title>Editar Categoria</title>
		<%- include('../includes/links-np-css.ejs'); %>		
	</head>
	
	<body>
		<%- include('../includes/top.ejs'); %>
		
		<div class="container-fluid">

			<div class="row-fluid">

				<%- include('../includes/left-column.ejs'); %>  

				<!-- Content -->
				<div class="span9" id="content">
				   
					<div class="row-fluid">
						
					<div class="span12">
					<div class="block-content collapse in">

						<% if(msg){ %>
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Sucesso!</strong>
							<%=msg%>
						</div>
						<% } %>

						<form class="form-horizontal" 
						id='form'
						action="/edit_category" 
						method="POST"
						enctype="multipart/form-data">

							<input type="hidden" name="categoryId" value="<%=category.id%>">

							<fieldset>

							<legend>Editar Categoria</legend>

							<div class="control-group">
								<label class="control-label" for="name">Nome</label>
								<div class="controls">
								<input class="input-xlarge focused" name="name" type="text"
								id="name" value="<%=category.name%>">
								</div>
							</div>
							
							<% if(category.image === 'null'){ %>
							<div class="control-group">
								<label class="control-label" for="image">Imagem</label>
								<div class="controls">
								<input class="input-xlarge" name="image" type="file">
								</div>
							</div>
							<% } else { %>
							<div class="control-group">
								<label class="control-label">Imagem</label>
								<div class="controls">
								<img src="upload/<%=category.image %>" width="240px;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="image">Substituir Imagem</label>
								<div class="controls">
								<input class="input-xlarge" name="image" type="file">
								</div>
							</div>
							<% } %>
							
							<div class="control-group">
								<div class="controls"  id='messages'></div>
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-primary"
								onClick='validateNewCategory();'>Editar</button>
								<a class="btn btn-primary" href="/delete_category?categoryId=<%=category.id%>">
									Deletar
								</a>
							</div>

							</fieldset>
						</form>

					</div>
					
					</div>
						
					</div>

				</div>
				<!-- End Content -->

			</div>

			<hr>

			<%- include('../includes/footer.ejs'); %>

		</div>
		<!--/.fluid-container-->
    <%- include('../includes/scripts-np-bottom.ejs'); %>
    <script src="/admin/utilsCategory.js"></script> 
	</body>

</html>