<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!-- 
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
  <meta charset="utf-8">
  <title>Bem Vindo!</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <%-include('core_includes/top_links.ejs')%>

</head>
<body>
  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  
  <%-include('core_includes/header.ejs')%>

  <div class="content-section">

    <div class="container">
    
      <div class="row-fluid">
                      
        <% if(typeof msg != "undefined" && msg != ""){ %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Mensagem!</strong>
            <%=msg%>
        </div>
        <% } %>

        <% if(typeof error != "undefined" && error != ""){ %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h2>Ops! Tivemos um problema técnico. Por favor, entre em contato com o desenvolvedor</h2>
            <p>Desculpe o incoveniente :-(</p>
            <br>
            <strong>Error: </strong>
            <%=error%>
        </div>
        <% } %>
        
      </div>        

      <div class="row">
        <% for(product of paginator.content) { %>
        <div class="col-md-3">
          <div class="product-item-1">
              <div class="product-thumb">
                <img src="upload/product/<%=product.image %>">
              </div> <!-- /.product-thumb -->
              <div class="product-content">
                <h5><a href="#"><%=product.name%></a></h5>
                <span class="tagline"><%=whatCategory(product.category)%></span>
                <span class="price"><%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(product.price)%></span>
                <p><%=product.description%></p>
                <p>
                  <a 
                  class="btn btn-default"
                  href="/add_to_cart?productId=<%=product.id%>">
                  Colocar no Carrinho
                  </a>
                </p>

              </div> <!-- /.product-content -->
          </div> <!-- /.product-item -->
        </div> <!-- /.col-md-3 -->
        <% } %>
      </div> <!-- /.row -->
      
      <% if(paginator.nPages < 7){ %>
      <%-include('core_includes/pagination/few_pages.ejs')%>
      <% } else {%>
      <%-include('core_includes/pagination/many_pages.ejs')%>
      <% } %>
        
    </div> <!-- /.container -->
  </div> <!-- /.content-section -->
  
  <div class="content-section">
    <div class="container">
      May be you will want place something here
    </div> <!-- /.container -->
  </div> <!-- /.content-section -->

  <%-include('core_includes/footer.ejs')%>
  
  <%-include('core_includes/bottom_scripts.ejs')%>

</body>
</html>