<header class="main-header">
  <!-- Logo -->
  <a href="/admin" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>Ad</b>m</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Adm</b>in</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">

      <ul class="nav navbar-nav">
          
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning" id="notification">
              
            </span>
          </a>
          <ul class="dropdown-menu">

            <li class="header">Você tem 2 novos pedidos</li>

            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                
                <li>
                  <a href="/admin_order_details?orderId=6">
                    <i class="fa fa-shopping-cart text-green"></i> 
                    25/4/2019 10:34:56
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 
                    25/4/2019 10:44:30
                  </a>
                </li>
                
              </ul>
            </li>
            <li class="footer"><a href="/admin_pending_orders">Ver todos</a></li>
          </ul>
        </li>
        
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/upload/user/<%=user.image%>" class="user-image">
            <span class="hidden-xs"><%=user.email%></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/upload/user/<%=user.image%>" class="img-circle" alt="/upload/<%=user.image%>">

                <%# notification about pending orders %>
                
              <p>
                <%=user.email%>                
              </p>
            </li>
            <!-- Menu Body -->
            
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="/profile" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a href="/logout" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>