<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ărea Administrativa</title>

  <%-include('../admin_includes/index/links.ejs')%>

</head>

<body
  onload="JavaScript:updateData()"
  class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <%-include('../admin_includes/header.ejs')%>

  <!-- Left side column. contains the logo and sidebar -->
  <%-include('../admin_includes/left_side_column.ejs')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Mensagem</a></li>
        <li class="active">Detalhes da Mensagem</li>
      </ol>
    </section>

    <div class="content-section">

    <div class="container">

      <div class="row">

        <div class="col-md-8">

          <div class="product-information">
            <h2>Detalhes da Mensagem</h2>
          </div> <!-- /.product-information -->
        </div> <!-- /.col-md-8 -->

      </div> <!-- /.row -->

    </div> <!-- /.container -->
  </div> <!-- /.content-section -->

  </div>
  <!-- /.content-wrapper -->
  <%-include('../admin_includes/footer.ejs')%>

</div>
<!-- ./wrapper -->

<%-include('../admin_includes/index/scripts.ejs')%>

<script src="/admin/notifications.js"></script>

</body>
</html>
