<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Área Administrativa</title>

  <%-include('../admin_includes/index/links.ejs')%>

</head>

<body
  onload="JavaScript:updateData()"
  class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <%-include('../admin_includes/header.ejs')%>

  <!-- Left side column. contains the logo and sidebar -->
  <%-include('../admin_includes/left_side_column.ejs')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i> Mensagem</a></li>
        <li class="active">Detalhes da Mensagem</li>
      </ol>
    </section>

    <div class="content-section">

    <div class="container">

      <div class="row">

        <div class="col-md-8">

          <div class="product-information">
            <h2>Detalhes da Mensagem</h2>
          </div>

        </div> <!-- /.col-md-8 -->

      </div> <!-- /.row -->

      <div class="row">
        <div class="col-md-5">
          <table class="table">

            <tr>
              <th>
                <label class="form-control" style="text-align: center">
                  Enviado Por
                </label>
              </th>
              <td>
                <input class="form-control"
                  type="text" readonly
                  style="text-align: center"
                  value="<%=message.clientName%>">
              </td>
            </tr>

            <tr>
              <th>
                <label class="form-control" style="text-align: center">
                  Email
                </label>
              </th>
              <td>
                <input class="form-control"
                  type="email" readonly
                  style="text-align: center"
                  value="<%=message.email%>">
              </td>
            </tr>

            <tr>
              <th>
                <label class="form-control" style="text-align: center">
                  Assunto
                </label>
              </th>
              <td>
                <input class="form-control"
                  type="text" readonly
                  style="text-align: center"
                  value="<%=message.subject%>">
              </td>
            </tr>

            <tr>
              <th>
                <label class="form-control" style="text-align: center">
                  Data
                </label>
              </th>
              <td>
                <input class="form-control"
                  type="text" readonly
                  style="text-align: center"
                  value="<%=fixDate(message.messageDate)%>">
              </td>
            </tr>

            <tr>
              <th>
                <label class="form-control" style="text-align: center">
                  Hora
                </label>
              </th>
              <td>
                <input class="form-control"
                  type="text" readonly
                  style="text-align: center"
                  value="<%=fixHour(message.messageDate)%>">
              </td>
            </tr>

          </table>
        </div> <!-- /.col-md-5" -->
        <div class="col-md-5">
          <div class="form-group">
            <textarea class="form-control" rows="12" readonly> <%=message.message%> </textarea>


          </div>
        </div>
      </div> <!-- row -->

    </div> <!-- /.container -->
  </div> <!-- /.content-section -->

  </div>
  <!-- /.content-wrapper -->
  <%-include('../admin_includes/footer.ejs')%>

</div>
<!-- ./wrapper -->

<%-include('../admin_includes/index/scripts.ejs')%>

<script src="/admin/notifications.js"></script>

</body>
</html>
